<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Payment Success</title>
  </head>
  <body>
    <div
      class="h-screen w-screen bg-zinc-900 flex flex-col items-center justify-center text-white"
    >
      <h1 class="text-5xl mb-3 font-semibold">Payment Successful</h1>
      <p class="text-xl mb-5">Refrence No. <%= payment_id %></p>
      <a href="https://e-commerce-k2r4.onrender.com" class="bg-teal-700 py-2 px-4 rounded-xl">
        Back to Products
      </a>
    </div>
  </body>
</html>
